.container {
  max-width: 1096px;
  width: calc(100% - 40px);
}

/* ———————————— SECTTION TOP ———————————— */

.services {
  flex-wrap: wrap;
}

div.services .service-button {
  flex-basis: 20%;
}

div.services .desktop-l-hide {
  display: flex;
}

/* ———————————— SECTTION GALLERY ———————————— */

div.gallery {
  height: 380px;
}

.gallery-col-1 {
  flex: 1;
}

.gallery-col-2 {
  width: 400px;
}

/* ———————————— SECTION HIGHLIGHTS ————————————  */

div.diapo {
  width: calc((95% - 30px) / 3);
}
