@import "reset.css";

body {
  width: 100%;
  font-size: 20px;
  font-family: var(--trip-reg);
}

/* ———————————— COMMON ELEMENTS ———————————— */

main {
  margin-top: 25px;
}

header {
  height: 60px;
  /* padding: 100px 0; */
  background-color: white;
  /* width: 100%; */
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}

footer {
  font: 14px var(--trip-med);
  background-color: #faf1ed;
  height: 150px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font: 900 54px var(--trip-med);
  letter-spacing: 0.25px;
  margin-bottom: 15px;
}

h2 {
  font: 900 28px var(--trip-med);
  line-height: 38px;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
}

h3 {
  font-family: var(--trip-med);
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
}

/* ———————————— COMMON CLASSES ———————————— */
.container {
  max-width: 1135px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

/* ———————————— HEADER ———————————— */

.logo {
  align-content: center;
}

.logo img {
  width: 190px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  font-family: var(--trip-Reg);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 10px;
}

header > div {
  flex: 1;
}

.nav-button i {
  font-size: 24px;
}

.nav-button {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 30px;
  gap: 5px;
  /* align-self: stretch; */
}

.nav-button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.connection-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  height: 40px;
  background-color: black;
}

.connection-button:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.connection-button div {
  font: inherit;
  color: white;
  background-color: inherit;
  border: 0px;
  cursor: inherit;
  font-family: var(--trip-med);
  font-weight: 400;
}

.icon-mobile-only {
  display: none;
}

.collapsable-menu {
  display: none;
}

/* ———————————— BODY ———————————— */

/* ———————————— SECTTION TOP ———————————— */

.top {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.explorez {
  color: #ff5d5d;
}

.services {
  display: flex;
  gap: 10px;
}

.service-button {
  border: 1px solid black;
  line-height: 20px;
  border-radius: 16px;
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 12px 15px;
}

.desktop-l-hide {
  display: none;
}

.service-text {
  font-family: var(--trip-med);
  font-size: 16px;
  line-height: 20px;
}

.service-icon {
  font-size: 24px;
}

.service-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ———————————— SECTTION GALLERY ———————————— */

.gallery {
  margin-top: 25px;
  display: flex;
  height: 430px;
  gap: 2px;
  justify-content: space-between;
}

.gallery-col-1 {
  position: relative;
}

.gallery-col-2 {
  width: 480px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-col-1 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.gallery-col-2 div {
  display: flex;
  overflow: hidden;
  height: 50%;
}

.gallery-col-2 img {
  object-fit: cover;
  object-position: center;
  /* height: 100%; */
  width: 100%;
}

div.gallery img:hover {
  opacity: 0.8;
  cursor: pointer;
}

div.gallery div.all-photos {
  position: absolute;
  bottom: 0;
  font-family: var(--trip-med);
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  padding: 8px;
  border-radius: 30px;
  display: flex;
  gap: 8px;
  margin: 15px;
}

div.all-photos i {
  font-size: 16px;
}

div.gallery div.all-photos:hover {
  background-color: #333;
  cursor: pointer;
}

div.location > div {
  font-size: 12px;
  line-height: 1;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

div.location span.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.location span:not(:first-child) {
  margin: 0 5px;
}

div.location i {
  font-size: 12px;
}

div.location i.arrow-smaller {
  vertical-align: 2px;
  font-size: 12px;
}

/* ———————————— SECTION ABSTRACT ———————————— */
.abstract {
  width: 100%;
  margin: 42px 60px 0 0;
  display: flex;
  justify-content: space-between;
}

.abstract-col-1 {
  width: 50%;
}

.abstract-col-2 {
  margin-left: 100px;
  flex-basis: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding-left: 0px; */
}

.abstract p {
  font-family: var(--georgia);
  font-size: 20px;
  line-height: 23px;
  color: #333;
}

.organize {
  padding: 32px 33px;
  background-color: #ff5d5d;
  border-radius: 16px 16px 0 0;
}

.mini-map {
  background-image: url(../img/image_trips_card_medium.png);
  background-size: 100.5%;
  background-position: center;
  height: 190px;
  /* width: 100%; */
  border-radius: 0 0 16px 16px;
}

.organize > p:first-child {
  font-family: var(--trip-med);
  font-size: 32px;
  line-height: 40px;
}

.organize > p:nth-child(2) {
  font-family: var(--trip-med);
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 24px;
}

.organize button {
  font-family: var(--trip-med);
  font-size: 16px;
  line-height: 30px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 14px;
  padding: 12px 16px;
}

.organize button:hover {
  background-color: #000000b2;
}

/* ———————————— SECTION HIGHLIGHTS ————————————  */

.highlights {
  margin-top: 85px;
  /* margin-bottom: 40px; */
}

.activities {
  display: flex;
  margin-bottom: 45px;
}

.activities-col-1 {
  flex: 1;
  padding-right: 30px;
}

.activities-col-1 p {
  font-family: var(--georgia);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.activities-col-1 a {
  font-family: var(--trip-med);
  font-size: 16px;
}

/* ———————————— SECTION GUIDES ————————————  */

.guides {
  margin-top: 120px;
}

.guides .carroussel {
  gap: 20px;
}

.guides .diapo {
  width: calc((100% - 40px) / 3);
  gap: 12px;
}

.guides .carroussel .image > img {
  aspect-ratio: 35/27;
}

.guides .attraction-caption {
  margin-top: 0;
  gap: 8px;
}

.author {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.avatar {
  height: 22px;
  width: 22px;
  object-fit: fill;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.avatar img {
  height: 100%;
  width: 100%;
}

.author-name {
  font-family: var(--trip-med);
  margin-left: 5px;
}

/* ———————————— FOOTER ———————————— */

.boldy {
  font-family: var(--trip-med);
  font-weight: bold;
}

.favicon {
  height: 40px;
}

footer a {
  text-decoration: none;
}
