@import "reset.css";
@import "desktop.css";

:root {
  --trip-reg: "TS-Reg", Arial, Helvetica, sans-serif;
  --trip-med: "TS-Med", Arial, Helvetica, sans-serif;
  --trip-vf-original: "Trip Sans VF", var(--trip-med);
  --georgia: Georgia, "Times New Roman", Times, serif;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { */
/* Rules */
/* } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { */
/* Rules */
/* } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { */
/* Rules */
/* } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { */
/* Rules */
/* } */

/* Extra extra large devices (large desktops, 1400px and up) */
/* @media (min-width: 1400px) { */
/* Rules */
/* } */
